/__pycache__
/models/__pycache__
/utils/__pycache__
/training/__pycache__
/models/.old
.DS_Store
/venv_digreco
/.dataset_cache
/digit_recognizer_testing
/config_runner_results
config_runner.py
repair_tflite_qat.py
meter_reading.log
generate_v17_report.py
/exported_models/100cls_RGB/super_high_accuracy_validator_100cls_RGB
datasets/commands.txt
exported_models/benchmark.py
exported_models/summary_model_comparison_*.csv
dropbox_ignore.ps
.env
/digit-recognizer-paper
runned_command.log
/exported_models
