/__pycache__
/datasets/*
!datasets/augmentation.py
!datasets/mnist.py
!datasets/qmnist.py
/exported_models/*
!exported_models/benchmark.py
/models/__pycache__
/utils/__pycache__
/training/__pycache__
