absl-py==1.4.0
aioesphomeapi==41.16.1
aiohappyeyeballs==2.3.2
aiohttp==3.9.3
aiosignal==1.3.1
ajsonrpc==1.2.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
argcomplete==3.3.0
asttokens==3.0.0
astunparse==1.6.3
async-timeout==4.0.3
async_interrupt==1.2.2
attrs==23.2.0
bitarray==2.9.2
bitstring==4.2.1
blinker==1.9.0
bottle==0.13.2
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2024.2.2
cffi==1.16.0
chacha20poly1305-reuseable==0.13.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
ConfigArgParse==1.7.1
contourpy==1.2.1
cryptography==45.0.1
cssselect2==0.8.0
cupy-cuda12x==13.4.1
cycler==0.12.1
dash==3.1.1
decorator==5.2.1
defcon==0.10.3
defusedxml==0.7.1
distlib==0.3.9
dm-tree==0.1.9
ecdsa==0.19.0
esp-idf-size==1.7.1
esphome==2025.10.0
esphome-dashboard==20251013.0
esphome-glyphsets==0.2.0
esptool==5.1.0
et-xmlfile==1.1.0
executing==2.2.0
fastjsonschema==2.21.1
fastrlock==0.8.3
filelock==3.13.1
Flask==3.1.0
flatbuffers==24.3.25
fonttools==4.51.0
freetype-py==2.5.1
frozenlist==1.4.1
fs==2.4.16
fsspec==2024.2.0
gast==0.5.4
gflanguages==0.7.1
glyphsets==1.0.0
glyphsLib==6.9.5
google-pasta==0.2.0
grpcio==1.63.0
h11==0.14.0
h5py==3.11.0
huggingface-hub==0.20.3
hydra-core==1.3.2
icmplib==3.0.4
idna==3.6
ifaddr==0.2.0
ImageHash==4.3.2
imageio==2.37.0
importlib_metadata==8.7.0
intelhex==2.3.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.3.2
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.15
kconfiglib==13.7.1
keras==3.11.3
keras-tuner==1.4.7
kiwisolver==1.4.5
kt-legacy==1.0.5
lazy_loader==0.4
libclang==18.1.1
lightning-utilities==0.10.1
lmdb==1.6.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.3
mpmath==1.3.0
multidict==6.0.5
namex==0.0.8
narwhals==1.45.0
nbformat==5.10.4
nest-asyncio==1.6.0
netron==8.4.6
networkx==3.2.1
nltk==3.8.1
noiseprotocol==0.3.1
numpy==1.26.4
numpy-stl==3.2.0
omegaconf==2.3.0
onnx==1.17.0
onnx-tf==1.6.0
open3d==0.19.0
opencv-python==4.10.0.84
openpyxl==3.1.5
openstep_plist==0.4.0
opt-einsum==3.3.0
optree==0.11.0
packaging==23.2
paho-mqtt==1.6.1
pandas==2.2.2
parso==0.8.4
patch==1.16
pillow==10.4.0
platformdirs==4.3.6
platformio==6.1.18
plotly==6.2.0
prompt_toolkit==3.0.51
propcache==0.2.1
protobuf==6.32.1
psutil==7.0.0
pure_eval==0.2.3
puremagic==1.30
pycparser==2.22
pyelftools==0.30
Pygments==2.18.0
Pymem==1.14.0
pyopencl==2025.2.4
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0.post0
python-magic==0.4.27
python-utils==3.9.1
pytools==2025.1.7
pytorch-lightning==2.2.0.post0
pytz==2024.1
PyWavelets==1.9.0
pywin32==310
PyYAML==6.0.3
reedsolo==1.7.0
referencing==0.36.2
regex==2023.12.25
requests==2.31.0
retrying==1.4.0
rich==14.1.0
rich-click==1.8.9
rpds-py==0.26.0
rtree==1.4.0
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
safetensors==0.4.2
scikit-image==0.25.2
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
semantic-version==2.10.0
setuptools==69.1.0
siphash24==1.7
six==1.16.0
sniffio==1.3.1
stack-data==0.6.3
starlette==0.35.1
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tensorflow-intel==2.16.1
tensorflow-model-optimization==0.8.0
termcolor==2.4.0
tf2onnx==1.16.1
tf_keras==2.20.1
threadpoolctl==3.5.0
tifffile==2025.6.11
timm==0.9.16
tinycss2==1.4.0
torch==2.8.0
torchaudio==2.5.1+cu118
torchmetrics==1.3.1
torchvision==0.17.1+cpu
tornado==6.5.2
tqdm==4.66.2
traitlets==5.14.3
trimesh==4.6.13
typing_extensions==4.15.0
tzdata==2024.1
tzlocal==5.3.1
ufoLib2==0.17.0
unicodedata2==15.1.0
urllib3==2.2.1
uvicorn==0.25.0
virtualenv==20.28.1
voluptuous==0.15.2
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.43.0
widgetsnbextension==4.0.14
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
zeroconf==0.148.0
zipp==3.23.0
