services:
  digit-recognizer:
    build: .
    container_name: digit-recognizer-gpu
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ../:/app
    working_dir: /app
    stdin_open: true
    tty: true